<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="comname" value="COM3"/>
    <add key="baudrate" value="115200"/>
    <add key="ipaddress" value="192.168.5.222"/>
    <add key="udpport" value="10001"/>
    <add key="Log" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
